<html>
<head>
  <title>Users</title>

</head>
<body>

  {% if messages %}
    {% for message in messages %}
      {{ message.message }}
    {% endfor %}
  {% endif %}

  <h4>Add a new course</h4>
  <form action='/courses/add' method='post'>
    {% csrf_token %}
    Name: <input type='text' name='name'>
    Description: <input type='text' name='desc'>
    <input type='submit' value='Submit'>
  </form>

  <h4>Courses</h4>
  <table>
    <tr>
      <th>Course Name</th>
      <th>Description</th>
      <th>Date Added</th>
      <th>Actions</th>
  </tr>
  {% for course in courses %}
  <tr>
    <td>{{ course.name }}</td>
    <td>{{ course.desc }}</td>
    <td>{{ course.created_at }}</td>
    <td>
      <a href="/courses/delete_form/{{ course.id }}">Delete</a>
    </td>
  </tr>


  {% endfor %}
</table>



</body>
</html>
